.body-container{
  width: 1300px;
  margin: 0 auto;
  position: relative;
  @media(max-width: 1300px){
    width: 100%;
  }
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.carouselTable{
  height: calc(100vw / 1920 *718);
  display: table;
}
.globalTableCell{
  display: table-cell;
  vertical-align: middle;
}


.inlineBlock{
  display: inline-block;
}

.pc-show{
  @media(max-width: 640px){
    display: none !important;
  }
}
.mobile-show{
  @media(min-width: 640px){
    display: none !important;
  }
}