.enterprise-section{
  position: relative;
  color: $enterprise-gray;
  .right-img{
    float: right;
    width: 70%;
  }
  .text-content{
    margin-top: 60px;
    position: absolute;
    left:18%;
    font-weight: bold;
    .title{
      font-size: $fontsize-middle;
      margin: 10px 0 50px;
    }
    .enterpriseList{
      font-size: 18px;
    }
  }
  .imgWrapper{
    position: relative;
  }

  &.two,&.three,&.six{
    img{
      float: left;
    }
    .text-content{
      top:20%;
      color: $light-base;
      .title{
        font-size: 32px;
        margin-bottom: 0;
      }
    }
    .depart-short-line{
      width: 30px;
      height: 4px;
      background-color: $light-base;
      margin: 18px 0;
    }
    .enterpriseList{
      font-size: 14px;
      font-weight: 100;
    }
    .detail-btn{
      display: inline-block;
      border-radius: $border-radius-base;
      padding:15px;
      border:2px solid $light-base;
      color: $light-base;
      transition: all .3s;
      margin-top: 30px;
      &:hover{
        background-color: $light-base;
        color: $gray-dark;
      }
    }
  }

  &.three{
    .text-content{
      right:18%;
      left:auto;
    }
  }
  &.six{
    .text-content{
      top:0;
    }
  }
}


.enterprise-detail{
  margin-bottom: 7%;
  .head{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: $gray-light;
    margin: 50px 0;
    .logo-img{
      text-align: center;
      background-color: #fff;
      position: relative;
      top: -31px;
      display: inline-block;
      left: 50%;
      margin-left: -150px;
      padding: 0 50px;
    }
  }
  .title{
    color: $enterprise-gray;
    font-size: 18px;
    letter-spacing: 5px;
    text-align: center;
    margin: 40px 0;
    font-weight: bold;
  }
  .iconTable{
    display: table;
    width: 100%;
    .iconItem{
      display: table-cell;
      text-align: center;
      img{
        width: 200px;
      }
    }
    .detailList{
      font-weight: bold;
      font-size: 14px;
      margin-top: 50px;
    }
  }
}