@font-face {
  font-family: 'Hiragino Kaku Gothic Pro W3';
  src: url('../font/Hiragino-Kaku-Gothic-Pro-W3.otf'); /* IE9+ */
  src: url('../font/Hiragino-Kaku-Gothic-Pro-W3.otf') format('embedded-opentype'), /* IE6-IE8 */ url('../font/Hiragino-Kaku-Gothic-Pro-W3.otf') format('woff'), /* chromeÃ£â‚¬Âfirefox */ url('../font/Hiragino-Kaku-Gothic-Pro-W3.otf') format('truetype'); /* chromeÃ£â‚¬ÂfirefoxÃ£â‚¬ÂoperaÃ£â‚¬ÂSafari, Android, iOS 4.2+*/
}

@font-face {
  font-family: 'Hiragino Kaku Gothic Pro W6';
  src: url('../font/Hiragino-Kaku-Gothic-Pro-W6.otf'); /* IE9+ */
  src: url('../font/Hiragino-Kaku-Gothic-Pro-W6.otf') format('embedded-opentype'), /* IE6-IE8 */ url('../font/Hiragino-Kaku-Gothic-Pro-W6.otf') format('woff'), /* chromeÃ£â‚¬Âfirefox */ url('../font/Hiragino-Kaku-Gothic-Pro-W6.otf') format('truetype'); /* chromeÃ£â‚¬ÂfirefoxÃ£â‚¬ÂoperaÃ£â‚¬ÂSafari, Android, iOS 4.2+*/
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../font/OpenSans-ExtraBold.ttf'); /* IE9+ */
  src: url('../font/OpenSans-ExtraBold.ttf') format('embedded-opentype'), /* IE6-IE8 */ url('../font/OpenSans-ExtraBold.ttf') format('woff'), /* chromeÃ£â‚¬Âfirefox */ url('../font/OpenSans-ExtraBold.ttf') format('truetype'); /* chromeÃ£â‚¬ÂfirefoxÃ£â‚¬ÂoperaÃ£â‚¬ÂSafari, Android, iOS 4.2+*/
}

@font-face {
  font-family: 'mgenplus-1pp-black';
  src: url('../font/mgenplus-1pp-black.ttf'); /* IE9+ */
  src: url('../font/mgenplus-1pp-black.ttf') format('embedded-opentype'), /* IE6-IE8 */ url('../font/mgenplus-1pp-black.ttf') format('woff'), /* chromeÃ£â‚¬Âfirefox */ url('../font/mgenplus-1pp-black.ttf') format('truetype'); /* chromeÃ£â‚¬ÂfirefoxÃ£â‚¬ÂoperaÃ£â‚¬ÂSafari, Android, iOS 4.2+*/
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../font/Roboto-Black.ttf'); /* IE9+ */
  src: url('../font/Roboto-Black.ttf') format('embedded-opentype'), /* IE6-IE8 */ url('../font/Roboto-Black.ttf') format('woff'), /* chromeÃ£â‚¬Âfirefox */ url('../font/Roboto-Black.ttf') format('truetype'); /* chromeÃ£â‚¬ÂfirefoxÃ£â‚¬ÂoperaÃ£â‚¬ÂSafari, Android, iOS 4.2+*/
}