.topMenu{
  margin-top: 35px;
  z-index: $z-index-base;
  position: absolute;
  top:0;
  width: 100%;
  .leftLogo{
    float: left;
  }
  .menuBody{
    display: inline-block;
    float: right;
    li{
      padding:3px 0;
      display: inline-block;
      color: $light-base;
      width: 90px;
      text-align: center;
      margin-right: 20px;
      border-radius: $border-radius-base;
      cursor: pointer;
      &:hover,&.active{
        background-color: rgba(0,0,0,0.2);
      }
    }
  }
}


.titleWithUnderline{
  position: relative;
  font-size: $fontsize-title-base;
  text-align: center;
  font-family: "Hiragino Kaku Gothic Pro W3";
  margin: {
    top:50px;
    bottom: 90px;
  }
}


.sectionGroup{
  .articalArea{
    display: table;
    border-bottom:1px solid $depart-line-color;
    .half-group{
      width:50%;
      vertical-align: middle;
      display: table-cell;
      .half-img{
        width: 95%;
        //margin-top: 3%;
        margin-bottom: 1px;
      }
      .icon-img{
        margin-bottom: 10px;
      }
      .text-content{
        width: 400px;
        margin: 0 auto;
      }
      .head{
        font-size: $fontsize-title-base;
      }
      .body{
        font-size: $fontsize-small;
        margin-bottom: 35px;
      }
      .depart-short-line{
        width: 30px;
        height: 4px;
        background-color: $blue-base;
        margin: 18px 0;
      }
      .detail-btn{
        padding:13px;
        border-radius: $btn-radius-base;
        border:2px solid $blue-base;
        color: $blue-base;
        font-size: $fontsize-base;
        transition: all .3s;
        &:hover{
          background-color: $blue-base;
          color: $light-base;
        }
      }
    }
  }
}


.centerBelt{
  padding:35px 0;
  background-size: contain;
  text-align: center;
  color: $light-base;
  &.blue{
    background: $blue-base right center no-repeat;
    background-image: url(../images/footer-blue.png);
  }
  .img-logo{

  }
  .content{
    font-size: $fontsize-middle ;
    margin: 20px 0 10px 0;
  }
  .detail-btn{
    font-size: $fontsize-middle ;
    border-radius: $btn-radius-base;
    border:2px solid $light-base;
    margin: 15px 0;
    display: inline-block;
    color: $light-base;
    padding:5px 45px;
    &:hover{
      background-color: $light-base;
      color: $blue-base;
      transition: all .3s;
    }
  }
  .bottom-text{
    font-size: $fontsize-small;
  }
  .underline{
    text-decoration: underline;
    cursor: pointer;
  }
}

.footer-section-wrapper{
  background-color: $light-base;
}


.footer-section{
  padding:65px 50px;
  .footerItem{
    width: 20%;
    float: left;
    &:last-child{
      width: 40%;
    }
    .head-wrapper{
      margin-bottom: 15px;
    }
    .head{
      font-size: $fontsize-footer-head;
      border-bottom: 4px solid $gray-light;
      &.blue{
        color: $blue-base;
      }
      &.gray-dark{
        color: $gray-dark;
      }
      &.orange-red{
        color: $orange-red;
      }
      &.orange-base{
        color: $orange-base;
      }
    }
    .body{
      font-size: $fontsize-small;
      li{
        a{
          color: $gray-dark;
          &:hover{
            text-decoration: underline;
          }
        }
        margin-bottom: 10px;
      }
    }

    .downloadWrapper{
      margin-top: 25px;
      .downloadItem{
        display: inline-block;
        margin-right:40px;
        cursor: pointer;
        &:last-child{
          margin-right: 0;
        }
        .download-btn{
          opacity: 0.7;
          width: 123px;
          transition: all .3s;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }
}


//轮播器
.carousel-caption{
  .large-title{
    font-size: $fontsize-huge;
    &.last{
      margin-bottom: 20px;
    }
  }
  .sub-title{
    width: 570px;
    line-height: 2;
  }
  .detail-btn{
    margin-top: 35px;
    display: inline-block;
    border-radius: $btn-radius-base;
    border:2px solid $light-base;
    color: $light-base;
    line-height: 45px;
    padding: 0 25px;
    transition: all .3s;
    &:hover{
      background-color: $blue-base;
    }
  }
}


.copyrightSection{
  color: $light-base;
  font-size: 12px;
  text-align: center;
  padding: 15px 0;
  background-color: $copyright-bg-color;
  p{
    margin-top: 5px;
  }
}