//colors
$gray-dark:#1c3144;
$gray-lighter:#f0f0f0;
$orange-base:#fab56b;
$orange-red:#ff715b;
$green-base:#26b99a;
$light-base:#ffffff;
$gray-base:#000000;
$blue-base:#4896e9;
$depart-line-color:#dedede;
$gray-light:#cccccc;
$text-gray:#555555;
$contact-input-title:#999999;
$copyright-bg-color:#204266;
$enterprise-gray:#333333;
$orange-btn-color:#ff9625;
$red-base:#f63838;

$border-radius-base:4px;

$btn-radius-base:$border-radius-base;
$btn-radius-large:10px;

$fontsize-small:14px;
$fontsize-base:16px;
$fontsize-title-base:32px;
$fontsize-middle:24px;
$fontsize-footer-head:20px;
$fontsize-large:40px;
$fontsize-huge:50px;
$fontsize-orange-title:36px;
$fontsize-large-num:110px;
// z-index
$z-index-base:90;
$z-index-small:9;
$z-index-large:900;

$font-family:'Open Sans', 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif; //默认字体样式

